.navigation {
  align-items: center;
  background-color: $color-primary;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  padding: 0 40px;
}

.logo {
  color: $color-white;
  font-family: $font-display;
  font-size: 20px;
}

.button {
  background-color: $color-secondary;
  border-radius: 10px;
  color: $color-white;
  display: block;
  padding: 10px 20px;
  text-align: center;
  width: 100px;
  border: none;

  &--form {
    width: 100%;
    background-color: $color-primary-light;
  }

  &--outro {
    background-color: $color-white;
    color: $color-primary;
    border: 1px solid $color-primary;
    width: 150px;
  }
}

.intro-outro {
  text-align: center;

  &__heading {
    color: $color-primary;
    font-size: 50px;
  }

  &__sub-heading {
    font-family: $font-display;
    font-size: 25px;
    margin: 20px 0;
  }

  &__button {
    margin: 0 auto;
  }
}

.wave {
  vertical-align: top;
}

.form {
  background-color: $color-white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  &__input {
    margin-bottom: 20px;
  }
}

.footer {
  background-color: $color-primary;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 50px;

  &__p {
    color: $color-white;
  }
}
